{% extends "base.html" %}

{% block content %}

<div class="container mt-5"><div class="card shadow-lg border-0">

    <div class="card-body text-center">

        <img src="https://ui-avatars.com/api/?name={{ user.full_name }}"
             class="rounded-circle mb-3"
             width="120">

        <h2>{{ user.full_name }}</h2>

        <p>{{ user.email }}</p>

        <hr>

        <div class="row">

            <div class="col-md-6">
                <h5>ID User</h5>
                <p>{{ user.id }}</p>
            </div>

            <div class="col-md-6">
                <h5>Role</h5>
                <p>{{ user.role }}</p>
            </div>

        </div>

    </div>

</div>

</div>{% endblock %}